body
{
    width: 100%;
}

.container
{
    width: 50%;
    margin: 0 auto;
}

.show,
.info,
.btn
{
    display: inline-block;
    height: 50px;
    width: 300px;
    margin-top: 50px;
}

.info
{
    color: red;
}
